body {
  background-color: $color-body-background;
  background-image: url("../images/bc.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#page {
  margin: 25px auto 25px auto;
  display: block;
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: $layout-max-width;
  min-width: $layout-min-width;
  height: auto;
  padding-bottom: 40px;
}
