$font-body: Arial, Helvetica, sans-serif;
$font-heading: "Lucida Console", "Lucida Console", "Tahoma", "Trebuchet MS", Arial;
$font-nav: Tahoma, "Tahoma", "Trebuchet MS", Arial;

$color-body-background: #26476E;
$color-body-text: #F1F5F8;
$color-main-text: #000000;
$color-link: #373737;
$color-link-hover: #999999;
$color-nav-link: #000000;
$color-nav-link-hover: #FFFFFF;
$color-nav-hover-background: #316AC5;
$color-footer-text: #E2E2E0;
$color-footer-hover: #BCBCBC;

$layout-max-width: 614px;
$layout-min-width: 320px;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-small: 360px;
